@model Equipe
@{
    ViewData["Title"] = "Equipes";
}

<div class="titulo_pagina">
    <h1>cadastro de @ViewData["Title"]</h1>
</div>

<form class="cadastro" action="@Url.Action("Cadastrar")" method="post" enctype="multipart/form-data" >

    </div>
    <div class="campo">
        <label for="IdTeam">IdEquipe</label>
    <input type="text" name="IdTeam" id = "IdTeam">
    </div>
    

    <div class="campo">
     <label for="Name">Nome</label>
    <input type="text" name="Name" id = "Name">
    </div>

    <div class="campo">
     <label for="Image">Imagem</label>
    <input type="file" name="Image" id = "Image">
    </div>

    <button class="gradient btn" type="submit">Cadastrar</button>
    
</form>

<table>
    <thead>
        <th>IdEquipe</th>
        <th>Nome</th>
        <th>Imagem</th>
        <th>Ações</th>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Equipes)
        {
            <tr>
                <td>@item.IdTeam</td>
                <td>@item.Name</td>
                <td>
                    <img src="img/Equipes/@item.Image" alt="Imagem do Time @item.Name"/>
                </td>
                <td><a asp-area="" asp-controller="Equipe" asp-action="Excluir"
                    asp-route-id="@item.IdTeam">
                    <i class="fa fa-trash"> </i>
                </a>
                </td>
            </tr>
        }
    </tbody>
</table>